<div class='container'>
    <div class="map">
        <app-world-map
            (idSelected)="selectedId = $event"
            (regionSelected)="selectedRegion = $event"
            (incomeSelected)="selectedIncome = $event"
            (capitalSelected)="selectedCapital = $event"
            (longitudeSelected)="selectedLongitude = $event"
            (latitudeSelected)="selectedLatitude = $event"
        ></app-world-map>
    </div>
    <div class="info">
        <app-info
            [countryId]="selectedId"
            [countryRegion]="selectedRegion"
            [countryIncome]="selectedIncome"
            [capitalCity]="selectedCapital"
            [longitude]="selectedLongitude"
            [latitude]="selectedLatitude">
        </app-info>
    </div>
</div>
